.joining{
    margin: 60px 0;
    padding: 0px 139px;
    // height: 600px;
    .preJoining{
        background: url('../../assets/Group 1769.png') no-repeat;
        height: 300px;
        background-size: contain;
        filter: grayscale(100%);
        .containData{
            padding: 20px  92px;
            margin: auto 0;
            color: #fff;
            h2{
                font-size: 12px;
                span{
                    font-size: 28px;
                    
                }
            }
            p{
                font-size: 20px;
                padding: 10px 0;
                font-weight: lighter;
            }
            .btn{
                width: 230px;
                height: 50px;
            }
        }
    }
    
    
}