.aboutWorks {
    height: 362px;
    background: url("../../assets/colorful-color-play-concentration-54101.png") no-repeat;
    background-color: #000;
    color: #fff;
    width: 100%;
    .dataOfAbout {
        text-align: center;
        padding: 121px 0;
    }
}
