.makeStyles-root-15 {
    width: 75% !important;
}
.MuiPaper-elevation4{
    box-shadow: none !important;
}
.MuiAppBar-colorDefault {
    border-bottom: 1px solid #ddd;
    background-color: #fff !important;
}